{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Experiences{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
	  <h2>substance: {{ post['substance'] }} - dosage:  {{ post['dosage'] }} - duration: {{ post['duration'] }}</h2>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body"> Location: {{ post['locations'] }}<p>
      <p class="body"> Activities: {{ post['activities'] }}<p>
      <p class="body"> Realizations: {{ post['realizations'] }}<p>
      <p class="body"> Notes: {{ post['notes'] }}<p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
